div {
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
    color: white;
    margin-top: 0.5rem;
    border: 1px solid black;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}